# /lib/systemd/system/nodeapp.service

[Unit]
Description=Running Node.js as a system service.
Documentation=https://example.com
After=network.target

[Service]
Environment=PORT=3000
Type=simple
User=ubuntu
# replace with the absolute path to your app.js file
ExecStart=/usr/bin/node /home/ubuntu/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target